@page "/records/delete/{Id:int}"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="columns mt-5 mb-5">
    <div class="box is-one-quarter is-offset-4 has-background-dark">
        <label class="mt-2 has-text-danger has-text-weight-bold">Confirm deletion of Record @Id</label><InputCheckbox @bind-Value="confirmDelete" class="m-1 mr-0" />
        <button class="has-text-grey-dark has-background-danger button is-primary ml-2" @onclick="() => DeleteRecord()">Delete</button>
    </div>
</div>

@code
{
    public string FormStatus = string.Empty;
    private bool confirmDelete = false;
    [Parameter] public int Id { get; set; }

    private async Task DeleteRecord()
    {
        if (!confirmDelete)
        {
            FormStatus = "Please confirm deletion";
            return;
        }
        using (HttpClient client = new())
        {
            var response = await client.DeleteAsync($"https://localhost:7244/api/record/{Id}");
            if (response == null || !response.IsSuccessStatusCode) FormStatus = "Error in form, please try again";
            else NavigationManager.NavigateTo("/records");
        }
    }
}
