@using RecordStore.Entities
@using RecordShopWebApp.Components

@page "/"

<PageTitle>Home</PageTitle>

<RecordsLoader RecordList="AllRecords"/>

<section>

</section>

@code {
    private List<Record> AllRecords = new();
}