@page "/About"

<div class="box has-background-success-light">
    <div class="box has-background-grey-dark has-text-success-light">
        <h2 class="is-size-2">About us</h2>
        <p>
            Pokem ipsum dolor sit amet deserunt mollit Mantine Pelipper Miltank Farfetch'd Loudred. Volcano Badge Luxray Plain Badge to train them is my cause Archeops Golbat Weedle. Celadon Department Store Professor Oak Mismagius Tornadus Junichi Masuda Nidoking Sandile. Excepteur sint occaecat cupidatat non proident Snubbull Virizion Chimecho Infernape Omastar Genesect. Mewtwo Strikes Back Gorebyss Herdier Horsea Ivysaur Hippopotas Poke Flute.

            Celadon City Rhyhorn Sableye Carnivine Haunter Teleport Shroomish. Misty Mothim Quagsire Slowking Stunfisk Magmar Onix. Mirror Move Super Potion Joltik Leaf Green Ground Blue Boulder Badge. Anim id est laborum Weavile Kanto Audino Kingdra Jirachi Magneton. Harden you teach me and I'll teach you Emboar Giratina Latios Roserade Probopass.
        </p>
    </div>
</div>

@code
{

}
