<div class="box column is-offset-4 is-4 has-background-success-light has-text-grey-dark has-text-centered">
    <h2 class="has-text-weight-bold is-size-2">Jungle Records</h2>
    <h3 class="is-size-5">Welcome to The Jungle</h3>
</div>

<NavMenu />


@code {

}
