@inherits LayoutComponentBase

<div class="box">
    <Header />
</div>

<main class="is-family-sans-seriff has-background-success-light box has-text-success-light">
    @Body
</main>

<Footer />


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>