<div class="box column column is-10 is-offset-1 has-text-weight-bold columns has-text-centered is-align-content-center has-background-success-light">
    <NavLink href="/" class=" button column is-2 has-background-grey-dark has-text-success-light m-5">Home</NavLink>
    <NavLink href="/records" class=" button column is-2 has-background-grey-dark has-text-success-light m-5">All Records</NavLink>
    <NavLink href="/records/add" class=" button column is-2 has-background-grey-dark has-text-success-light m-5">Add New Record</NavLink>
    <NavLink href="/" class=" button column is-2 has-background-grey-dark has-text-success-light m-5">placeholder</NavLink>
    <NavLink href="/" class=" button column is-2 has-background-grey-dark has-text-success-light m-5">placeholder</NavLink>
</div>
@code {

}
