<div class="box column is-10 is-offset-1 has-text-weight-bold has-background-success-light is-flex is-justify-content-center is-align-items-center">
    <div class="is-flex is-flex-wrap-wrap is-justify-content-center is-align-items-center">
        <NavLink href="/" class="button has-background-grey-dark has-text-success-light m-2">Home</NavLink>
        <NavLink href="/records" class="button has-background-grey-dark has-text-success-light m-2">All Records</NavLink>
        <NavLink href="/records/add" class="button has-background-grey-dark has-text-success-light m-2">Add New Record</NavLink>
        <NavLink href="artists" class="button has-background-grey-dark has-text-success-light m-2">All Artists</NavLink>
        <NavLink href="artists/add" class="button has-background-grey-dark has-text-success-light m-2">Add New Artist</NavLink>
        <NavLink href="/about" class="button has-background-grey-dark has-text-success-light m-2">About</NavLink>
        <NavLink href="/contact" class="button has-background-grey-dark has-text-success-light m-2">Contact</NavLink>
    </div>
</div>
@code {

}
