@using RecordStore.Entities
@using RecordShopWebApp.Components

@if(AllRecords == null)
{
    <p>Loading...</p>
}
else if (AllRecords.Count == 0)
{
    <p>No records found</p>
}
else
{
    <RecordSummaryList RecordList="@AllRecords" />
}

@code
{
    public List<Record> AllRecords { get; set; } = new();
    private HttpClient httpClient;
    protected override async Task OnInitializedAsync()
    {
        httpClient = new();
        try
        {
            AllRecords = await httpClient.GetFromJsonAsync<List<Record>>("https://localhost:7244/api/record");
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error fetching records: {ex.Message}");
        }
    }
}
